@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap');

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gabarito", sans-serif;
}

p,h1,h2,h3,h4,h5,h6{
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
}

img{
  max-width: 100%;
}

.main_wrapper{
  display: flex;
  flex-wrap: nowrap;
}

.main_wrapper .side_drawer{
  width: 20%;
  background-color: #1C2434;
  color: #fff;
  padding: 10px;
}

.main_wrapper .main_content{
  width: 80%;
  background: #F1F1FF;
  padding: 10px;
}